-i https://pypi.org/simple
asn1crypto==0.24.0
attrs==19.1.0
automat==0.7.0
beautifulsoup4==4.8.0
blis==0.2.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
cymem==2.0.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
lxml==4.4.1 ; python_version != '3.4'
murmurhash==1.0.2
numpy==1.17.0
parsel==1.5.2
plac==0.9.6
preshed==2.0.1
pyasn1-modules==0.2.6
pyasn1==0.4.6
pycparser==2.19
pydispatcher==2.0.5
pyhamcrest==1.9.0
pyopenssl==19.0.0
queuelib==1.5.0
requests==2.22.0
scrapy==1.7.3
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.2
spacy==2.1.8
srsly==0.0.7
thinc==7.0.8
tqdm==4.33.0
twisted==19.7.0 ; python_version != '3.4'
urllib3==1.25.3
w3lib==1.21.0
wasabi==0.2.2
zope.interface==4.6.0
